[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git@github.com:sjl/gundo.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "bundle/argtextobj.vim"]
	path = bundle/argtextobj.vim
	url = git@github.com:vim-scripts/argtextobj.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "bundle/vim-fish"]
	path = bundle/vim-fish
	url = git@github.com:patrick-conley/vim-fish.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-velocity"]
	path = bundle/vim-velocity
	url = git@github.com:lepture/vim-velocity.git
[submodule "bundle/DirDiff"]
	path = bundle/DirDiff
	url = https://github.com/vim-scripts/DirDiff.vim.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/git-plugins/start/vim-prettier"]
	path = pack/git-plugins/start/vim-prettier
	url = git@github.com:prettier/vim-prettier.git
[submodule "pack/git-plugins/start/vim-javascript"]
	path = pack/git-plugins/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "pack/git-plugins/start/ale"]
	path = pack/git-plugins/start/ale
	url = git@github.com:w0rp/ale.git
[submodule "pack/git-plugins/start/vim-jsx"]
	path = pack/git-plugins/start/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "/home/pconley/.vim/pack/aliou/start/bats.vim"]
	path = /home/pconley/.vim/pack/aliou/start/bats.vim
	url = https://github.com/aliou/bats.vim.git
[submodule "pack/git-plugins/start/context.vim"]
	path = pack/git-plugins/start/context.vim
	url = git@github.com:wellle/context.vim.git
[submodule "pack/git-plugins/start/json5.vim"]
	path = pack/git-plugins/start/json5.vim
	url = https://github.com/gutenye/json5.vim.git
